<% presenter = ActivityPresenter.new(activity) %>

<p class="activity">
  <span class="<%= presenter.kind %>" ><i class="<%= presenter.icon_class %>"></i></span>
  <a target="_blank" rel="noopener noreferrer" href="<%= presenter.link %>"><%= presenter.name %></a> <%= presenter.amount %>
</p>
