<%= cache calendar.activities do %>
  <div class="columns is-multiline">
    <div class="column is-full">
      <div class="columns is-multiline bordered">
        <div class="column is-full">
          <div class="calendar-container has-text-centered">
            <%= render CalendarComponent.new(activities_amount_per_day: calendar.activities_amount_sum_per_day) %>
          </div>
        </div>
        <div class="column is-full">
          <div class="columns legend-container is-mobile">
            <div class="column has-text-left">
              <%= link_to _("How does it work?"), faq_path %>
            </div>
            <div class="column has-text-right">
              <span><%= _("Less") %></span>
              <ul class="legend">
                <li class="square" data-level="0" title="<%= _("None episodes/chapters watched/read on date") %>"></li>
                <li class="square" data-level="1" title="<%= _("From 1 to 4 episodes/chapters watched/read on date") %>"></li>
                <li class="square" data-level="2" title="<%= _("From 5 to 8 episodes/chapters watched/read on date") %>"></li>
                <li class="square" data-level="3" title="<%= _("From 9 to 12 episodes/chapters watched/read on date") %>"></li>
                <li class="square" data-level="4" title="<%= _("12+ episodes/chapters watched/read on date") %>"></li>
              </ul>
              <span><%= _("More") %></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if calendar.activities.any? %>
      <div class="column is-10 timeline-container">
        <%= render TimelineComponent.new(activities: calendar.activities.ordered_as_timeline) %>
      </div>
    <% else %>
      <div class="column is-10 has-text-centered mt-2">
        <p class="subtitle">
          <%= _("%{username} does not have any activity in %{year}.") % { username: user.username, year: selected_year } %>
          <span class="mt-2">
          <%= image_tag "no_activity.png" %>
        </span>
        </p>
      </div>
    <% end %>

    <div class="column is-2 years-menu-container">
      <%= render YearsMenuComponent.new(user: user, years: user.calendars.active_years.to_a, selected_year: selected_year) %>
    </div>
  </div>
<% end %>
