<%# locals: (user:, calendar: nil) -%>

<%- calendar ||= user.calendars.current %>

<% cache [user, calendar] do %>
  <div class="columns is-multiline">
    <div class="column is-full p-0">
      <div class="is-flex is-flex-direction-column is-justify-content-center is-align-content-center is-flex-wrap-wrap">
        <%= link_to(MAL::URLS.profile_url(user.username), target: "_blank", rel: "noopener noreferrer", class: "image has-text-centered", style: "max-width: 155px; max-height: 350px; color: inherit") do %>
          <% if user.avatar_url.present? %>
            <%= image_tag user.avatar_url, style: "object-fit: cover;" %>
          <% else %>
            <i class="fa fa-user-secret fa-6x" aria-hidden="true"></i>
          <% end %>
        <% end %>
        <%= link_to(MAL::URLS.profile_url(user.username), target: "_blank", rel: "noopener noreferrer", class: "is-size-4 has-text-centered") do %>
          <%= user.username %>
        <% end %>
      </div>
    </div>

    <% if user.deactivated? %>
      <div class="column is-full">
        <article class="message is-alert">
          <div class="message-header">
            <p><%= _("Profile deactivated") %></p>
          </div>
          <div class="message-body">
            <p>
            <span><%= sanitize(_("This profile has been deactivated since %{date} and no longer is receiving updates. See the %{faq}") % { date: l(user.deactivated_at.to_date, format: :long), faq: link_to("FAQ", faq_path, data: { turbo: false}) }) %></span>
            <br>
            </p>
          </div>
        </article>
      </div>
    <% end %>
    
    <div class="column is-half">
      <%= render partial: "users/bb_code", locals: { user: user, label: _("Large BB Code"), help: _("Ideal for profile page") } %>
    </div>

    <div class="column is-half">
      <%= render partial: "users/bb_code", locals: { user: user, label: _("Small BB Code"), help: _("Ideal for forum signature"), variant: :small } %>
    </div>

    <%= turbo_frame_tag dom_id(user, :activities), class: "column is-full" do %>
      <div class="columns is-multiline">
        <div class="column is-full">
          <%= turbo_frame_tag(dom_id(user, :calendar), src: user_calendar_path(user, calendar), loading: :lazy) do %>
            <%= render partial: "calendars/loading" %>
          <% end %>
        </div>

        <%= turbo_frame_tag(dom_id(user, :timeline), class: "column is-10", src: user_timeline_path(user, calendar), loading: :lazy) do %>
          <%= render partial: "timelines/loading" %>
        <% end %>

        <div class="column is-2">
          <%= render partial: "users/years_side_menu", locals: { user: user, selected_year: calendar.year } %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
