<% page_title @user.username %>
<% meta_description _("Check out %{username}'s profile on MAL Heatmap") % { username: @user.username } %>
<% content_for :meta do %>
  <meta name="tracker-source" content="User Profile"/>
<% end %>

<%= turbo_stream_from @user %>

<div class="columns is-centered">
  <div class="column is-12">
    <div class="columns is-multiline is-gapless">
      <%= render partial: "shared/header", locals: { size: "sm" } %>

      <div class="column is-full">
        <div class="columns is-horizontal is-centered mt-4 is-variable">
          <% if signed_in? %>
            <div class="column is-3">
              <%= render partial: "users/side_menu" %>
            </div>
          <% end %>

          <div class="column is-9">
            <%= turbo_frame_tag dom_id(@user) do %>
              <% if show_waiting_mal_sync? %>
                <%= render partial: "users/waiting_mal_sync", locals: { user: @user } %>
              <% else %>
                <%= render partial: "users/user", locals: { user: @user, calendar: @calendar } %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
