<div class="columns is-multiline is-gapless">

  <div class="column is-full has-text-centered has-margin-top-5">
    <%= link_to root_path do %>
      <span class="icon is-small">
        <i class="fas fa-3x fa-fire has-text-primary"></i>
      </span>
    <% end %>
  </div>

  <div class="column is-full has-text-centered has-margin-top-5">
    <h3 class="title is-3 has-text-centered"><%= link_to t("app.title"), root_path, class: "root-link" %></h3>
  </div>

</div>

<div class="columns">
  <div class="column is-6-fullhd is-offset-3-fullhd is-8-widescreen is-offset-2-widescreen is-8-desktop is-offset-2-desktop is-10-tablet is-offset-1-tablet is-full-mobile">

    <div class="columns is-multiline">

      <% cache @user do %>
        <div class="column is-full">
          <article class="media">
            <figure class="user-avatar media-left">
              <p class="image is-96x96">
                <img src="<%= @user.avatar_url %>">
              </p>
            </figure>
            <div class="media-content">
              <p>
                <a class="is-size-4" target="_blank" href="<%= profile_url(@user.username) %>"><%= @user.username %></a>
                <span class="icon is-small"><i class="fa fa-external-link-alt"></i></span>
              </p>
            </div>
          </article>
        </div>
      <% end %>

      <% cache @activities do %>
        <div class="column is-full">
          <div class="columns is-multiline bordered">

            <div class="column is-full">
              <div class="graph-container has-text-centered">
                <%= render partial: "graph", locals: { range: @range, activities: @activities } %>
              </div>
            </div>

            <div class="column is-full">
              <div class="legend-container columns is-mobile">
                <div class="column has-text-left" title="<%= t ".counting_help" %>">
                  <%= t ".counting_text" %>
                </div>

                <div class="column has-text-right">
                  <span><%= t ".less" %></span>
                  <ul class="legend">

                    <% (0..4).each do |level| %>
                      <li class="square" data-level="<%= level %>" title="<%= t("users.show.levels.#{level}") %>"></li>
                    <% end %>

                  </ul>
                  <span><%= t ".more" %></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="timeline-container column is-10">
          <%= render partial: "timeline", locals: { activities: @activities } %>
        </div>
      <% end %>

      <div class="active-years-container column is-2">
        <aside class="menu">
          <ul class="menu-list">
            <% @active_years.each do |year| %>
              <li class="has-text-centered">
                <% link_class = year == @year ? "year-link is-active" : "year-link" %>

                <%= link_to year, user_path(@user, year: year), class: link_class %>
              </li>
            <% end %>
          </ul>
        </aside>
      </div>

    </div>

  </div>
</div>

