<div class="columns is-multiline is-gapless">

  <div class="column is-full has-text-centered has-margin-top-5">
    <span class="icon is-small"><i class="fas fa-2x fa-fire has-text-primary"></i></span>
  </div>

  <div class="column is-full has-text-centered has-margin-top-5">
    <h3 class="title is-3 has-text-centered"><%= t "app.title" %></h3>
  </div>

</div>

<div class="columns">
  <div class="column is-6-fullhd is-offset-3-fullhd is-8-widescreen is-offset-2-widescreen is-8-desktop is-offset-2-desktop is-10-tablet is-offset-1-tablet is-full-mobile">

    <div class="columns is-multiline">

      <div class="column is-full">
        <article class="media">
          <figure class="media-left image is-96x96">
            <img src="<%= @user.avatar_url %>">
          </figure>
          <div class="media-content">
            <p>
              <a class="is-size-4" target="_blank" rel="noopener noreferrer" href="<%= profile_url(@user.username) %>"><%= @user.username %></a>
              <span class="icon is-small"><i class="fa fa-external-link-alt"></i></span>
            </p>
          </div>
        </article>
      </div>

      <% cache @activities do %>

        <% grouped_activities = @activities.group_by { |activity| activity.date } %>

        <div class="column is-full">
          <div class="columns is-multiline bordered">

            <div class="column is-full">
              <div class="graph-container has-text-centered">
                <div class="graph">
                  <ul class="months">
                    <% t("date.abbr_month_names").compact.each do |month_name| %>
                      <li><%= month_name %></li>
                    <% end %>
                  </ul>

                  <ul class="days">
                    <% t("date.abbr_day_names").compact.each do |day_name| %>
                      <li><%= day_name %></li>
                    <% end %>
                  </ul>

                  <ul class="squares">
                    <% (Date.today.beginning_of_year..Date.today.end_of_year).each do |date| %>
                      <% activity_count = (grouped_activities[date] || []).size %>
                      <% level = activity_count.clamp(0, 4) %>
                      <% formated_date = l date, format: :long %>

                      <li class="square"
                          data-level="<%= level %>"
                          data-date="<%= date.to_s %>"
                          title="<%= t ".activities_on", count: activity_count, date: formated_date %>"
                      ></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>

            <div class="column is-full legend-container">
              <div class="columns is-mobile">
                <div class="column has-text-left" title="<%= t ".captions.counting_help" %>">
                  <%= t ".captions.counting_text" %>
                </div>
                <div class="column has-text-right">
                  <span><%= t ".captions.less" %></span>
                  <ul class="legend">

                    <% (0..4).each do |level| %>
                      <li class="square" data-level="<%= level %>" title="<%= t ".captions.level_#{level}" %>"></li>
                    <% end %>

                  </ul>
                  <span><%= t ".captions.more" %></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-full">
          <div class="timeline">
            <header class="timeline-header">
              <span class="tag is-medium is-primary"><%= t ".now" %></span>
            </header>

            <% grouped_activities.each do |date, activities| %>
              <div class="timeline-item">
                <div class="timeline-marker is-primary"></div>
                <div class="timeline-content">
                  <p class="heading"><%= date.strftime("%B %-d, %Y") %></p>

                  <%= render partial: "activity", collection: activities, cached: true %>
                </div>
              </div>
            <% end %>

            <header class="timeline-header">
              <span class="tag is-medium is-primary"><%= t ".beggining" %></span>
            </header>
          </div>
        </div>

      <% end %>

    </div>

  </div>
</div>

