<!DOCTYPE html>
<html>
  <head>
    <title>Mal Heatmap</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <section class="section <%= @section_class %>">
      <div class="container is-fluid">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
